* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #001f3f, #00ffcc, #0066ff, #00ff99);
    background-size: 400% 400%;
    animation: gradientmove 10s ease infinite;
    font-family: arial, sans-serif;
    color: white;
}

@keyframes gradientmove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    margin: 20px auto;
    width: 90%;
}

.row {
    display:flex;
}

hr {
    border: 1px solid #eee;
}

.game-info {
    display: flex;
}

.game-info .game-name {
    flex: 1;
}

.game-info .category {
    flex:1;
    text-align: right;
}

.game-info .category span {
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}

